<div class="level-container">
  <div class="testDiv" [innerHtml]="providedString | safeHtml: 'html'"></div>
  <div class="target-container" *ngIf="!completed">
    <input id="input-xss" class="input-field" type="text" #input/>
    <button id="verify-button" class="verify-button" (click)="sendToServer()">Send to server</button>
  </div>

  <div *ngIf="allMessages">
    <ul>
      <li *ngFor="let message of allMessages">{{message}}</li>
    </ul>
  </div>

  <div id="success-container" class="success-container" *ngIf="completed">
    <div class="header-text">Success!!!</div>
  </div>
</div>


